.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
    
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    color: blue;
}

a:any-link {
    color: link;
    cursor: pointer;
    text-decoration: none;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
    color: darkblue;
}